/* 

COLORS

#F1E8B8 // banana yellow
#F9E784 // crayola darker yellow
#E58F65 // middle red
#D05353 // terra cota red
#191919 // dark black

*/

body {
background: rgb(242,109,73);
background: linear-gradient(-160deg, rgba(242,109,73,1) 35%, rgba(242,73,73,1) 100%);
    font-size: 16px;
    font-size: 1rem;
}
.App-info p {
    /*color: #fff;*/
    line-height: 1.6;
}

.App-info {
    height: auto;
    color: #fff;
    padding: 0;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    text-align: left;
}

.App-info-content {
    padding: 3rem;
}

.App-info h2, h3 {
    margin: 0 0 1rem 0;
}
.App-info h2 {
    font-size: 4rem;
}

.App-content {
    padding: 2rem 0;
    font-family: 'Noto Sans', sans-serif;
    background: #F5EEE3;
    box-sizing: border-box;
}

.item-row {
    position: relative;
    padding-left: 5vw;
}

.todoInput,
.todoView {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    width: calc(87vw - 4rem);
    padding-left: 4rem;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: .5rem;
    overflow: hidden;
}
.todoView-text,
.todoInput input {
    order: 2;
    flex-grow: 3;
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

.todoView-text {
    text-align: left;
    background: #fff;
}

.todoInput input {
    border: none;
    outline: none;
    background:#fff;
    height: 2rem;
}

.todoView-checked {
    opacity: .8;
    text-decoration: line-through;
    color: #555;
}

::placeholder {
    font-size: .75rem;
    line-height: 3rem;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
}

.todoInput input:focus {
    background: #FFF8E1;
    box-shadow: 0 0 16px #bbb;
}

.check-wrapper {
    width: 4rem;
    height: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    background: #72E081;
}

.check {
    display: block;
    position: absolute;
    top: .75rem;
    left: .75rem;
    width: 2.5rem;
    height: 2.5rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff;
    border-radius: 50%;
}

.todoInput .check-wrapper {
    opacity: .5;
    background: #ddd;
}
.todoInput .check-wrapper .check {
    /*border: 2px solid #ccc;*/
}
.check.checked {
    background: none;
    border-color: transparent;
    text-align: center;
}

.check.checked:before {
   content: "\2714";
   color: #fff;
   font-size: 2rem;
}

.edit-button {
    background: #eee;
    display: inline-block;
    position: absolute;
    font-size: 1rem;
    padding: .3rem .75rem;
    border-radius: .2rem;
    cursor: pointer;
    color: #444;
    right: .75rem;
    top: 1.1rem;
    opacity: .7;
    border: 1px solid #fff;
}
.edit-button:hover {
    opacity: 1;
    background: #6CBEED;
    color: #fff;
}

.todoView-checked .edit-button {
    display: none;
}


@media only screen and (min-width: 768px) {

    .App-info {
        width: 30%;
        float: left;
        min-height: 100vh;
    }

    .App-content {
        float: left;
        width: 70%;
        min-height: 100vh;
        padding: 4rem 0;
    }

    .item-row {
        position: relative;
        padding-left: 3rem;
    }
    .todoInput,
    .todoView {
        width: calc(70% - 4rem);
        padding-left: 4rem;
    }
    .check-wrapper {
        width: 4rem;
    }
    .check {
        top: .75rem;
        left: .75rem;
        width: 2.5rem;
        height: 2.5rem;
    }
    .check.checked:before {
       font-size: 2rem;
    }
    .todoView-text,
    .todoInput input {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    ::placeholder {
        font-size: 1rem;
    }
}